# MySQL connection (encode special characters in the password, e.g. @ -> %40)
JALMITRA_DATABASE_URL=mysql+pymysql://root:your_password@localhost:3306/jalmiktra

RAZORPAY_KEY_ID=rzp_test_your_key_id
RAZORPAY_KEY_SECRET=your_test_key_secret
RAZORPAY_CURRENCY=INR
